<div class="row">
  <div class="small-9 columns">

    <h1><%= @question.title %></h1>
    <p>
      <%= @question.description %>
    </p>
    <h2>Your Answer:</h2>

    <%= render "form" %>
    
  </div>
</div>
